$border-radius: 5px;
$border-color: #ebebeb;
$gray-light: #fafafa;
$color-overlay: #0009;
$color-brand: #2182e5;
$color-primary: #333333;
.awc-cart {
    &__overlay {
        position: fixed; // position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-overlay;
        cursor: pointer;
        display: none;
    }
    &__trigger {
        font-size: 21px;
        box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.22);
        position: fixed;
        bottom: 30px;
        right: 15px;
        @media only screen and (min-width: 299px) {
            right: 30px;
        }
        margin-top: 15px;
        display: inline-block;
        width: 60px;
        text-align: center;
        line-height: 60px;
        background-color: $color-brand;
        border-radius: 100%;
        z-index: 999;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
        i {
            color: #ffffff;
            line-height: inherit;
            width: inherit;
        }
        &.is-active {
            .awc-cart-icon-open {
                display: none;
            }
            .awc-cart-icon-close {
                display: inline-block;
            }
        }
    }
    &__inner {
        width: 100%;
        right: 15px;
        left: 15px;
        @media only screen and (min-width: 299px) {
            width: 300px;
            left: auto;
        }
        display: none;
        z-index: 999;
        border-radius: $border-radius;
        overflow: hidden;
        box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.22);
        background-color: #ffffff;
        position: fixed;
        bottom: 130px;
    }
    &__count {
        position: absolute;
        display: block;
        border: 1px solid $color-brand;
        width: 20px;
        line-height: 20px;
        background-color: #ffffff;
        color: $color-brand;
        border-radius: 100px;
        font-size: 11px;
        top: 0;
        right: 0;
    }
    &__items {
        overflow: auto;
        max-height: 400px;
        padding: 0;
        margin-bottom: 0;
    }
    &__item {
        position: relative;
        display: flex;
        flex-grow: row wrap;
        padding: 10px 15px;
        border-bottom: 1px solid $border-color;
        &:last-child {
            border: none;
        }
    }
    &__thumbnail img {
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }
    &__content {
        flex: 1;
        padding-right: 25px;
    }
    &__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0;
        margin-top: 0;
        color: $color-primary;
        &:hover {
            color: $color-brand;
        }
    }
    .quantity {
        font-size: 12px;
        display: block;
    }
    &__total {
        background-color: $gray-light;
        padding: 10px 15px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
    }
    &__buttons {
        display: flex;
        flex-grow: row wrap;
        margin-top: 0;
        margin-bottom: 0;
        a.button {
            font-size: 14px;
            line-height: 14px;
            flex: 1;
            border-radius: 0 !important;
            background-color: #6c757d;
            line-height: 38px;
            text-align: center;
            color: #ffffff;
            padding: 0;
            &:hover {
                background-color: lighten( #6c757d, 10);
                box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.22);
                z-index: 2;
            }
        }
        a.button.checkout {
            background-color: #71b02f;
            &:hover {
                background-color: lighten( #71b02f, 10);
            }
        }
    }
    a.remove {
        position: absolute;
        right: 10px;
        top: 10px;
        background: #ebebeb;
        color: #9c9c9c !important;
        z-index: 99;
        font-size: 18px;
        line-height: 0.8em !important;
    }
    &__empty-message {
        padding: 15px;
    }
    .awc-cart-icon-close {
        display: none;
    }
}